<h2> Your Current Slack Entry List </h2>



<ul>
  <% slackEntry.forEach((oneEntry) => { %>
    <li>
      <h3> Team URL: <%= oneEntry.slackTeamURL %>.Slack.com </h3>
      <p> Email: <%= oneEntry.slackTeamEmail %> </p>
      <p> Password: <%= oneEntry.encryptedPassword %> </p>
      
      <ul>

        <li>
          <a href="/entrys/<%= oneEntry._id %>/edit">
            Edit
          </a>
        </li>

        <li>
          <a href="/entrys/<%= oneEntry._id %>/delete">
            Delete
          </a>
        </li>


      </ul>
    </li>
  <% }) %>
</ul>