


<!-- weird if statement with "typeof" to avoid an error -->
<% if (typeof validationErrors !== "undefined") { %>
  <ul class="error">
    <!-- we cant do a forEach loop because "validationErrors" is an object -->

    <% for (let field in validationErrors) { %>
      <li> <%= validationErrors[field].message %> </li>
    <% } %>
  </ul>
<% } %>


<form method="post" action="/entrys/<%= entryDetails._id %>">

  <div class="flex-container info-form-container">


    <div class="flex-container info-top-and-bottom-wrap">



      <div class="flex-container info-form-top">  
        <label for="url-input"> Team URL </label>
        <input  id="url-input" type="text" placeholder="wynwood-tech" name="slackTeamURL" value="<%= entryDetails.slackTeamURL %>" />
          <div class="slackDotCom">.Slack.com</div>
      </div> <!-- info-form-top -->

        


      <div class="flex-container info-form-bottom">

        <div class="flex-container info-email-wrap">
          <label for="email-input"> Email </label>
          <input id="email-input" type="email" name="slackTeamEmail" value="<%= entryDetails.slackTeamEmail %>" />
        </div> <!-- info-email-wrap -->



        <div class="flex-container info-password-wrap">
          <label for="password-input"> Password </label>
          <input id="password-input" type="password" name="slackTeamPassword" value="<%= entryDetails.encryptedPassword %>" />
        </div> <!--  info-password-wrap -->

      </div> <!-- info-form-bottom -->




    </div> <!-- info-top-and-bottom-wrap -->

    <div class="flex-container slack-save-btn-wrap">
      <button class=" green-btn circle-btn btn"> <i class="fa fa-plus-circle" aria-hidden="true"></i> </button>
  </div>


  </div> <!-- info-form-wrapper -->
</form>





